#required for working with the notebooks
jupytext
ipykernel
notebook

#required to run the notebooks
torch
torchvision
matplotlib
mnist1d
scikit-learn
torchinfo

#nice to have for installing things
uv
